.Bottomlinks {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100% - 2px;
    height: 60px;
    border: 2px solid white;
    border-bottom: 1px solid gray;
}

.Bottomlinks:hover {
    border: 2px solid blue;
}

.Bottomlinks-logos {
    margin-left: 30px;
    width: 92px;
    height: 20px;
    /* column-gap: 2.25px; */
    display: flex;
    gap: 2.25px;
}

/* .Bottomlinks-logo {
    border: 1px solid blue;
} */

.Bottomlinks-logo-U {
    width: 17.06px;
    height: 20px;
}

.Bottomlinks-logo-M {
    width: 22.07px;
    height: 20px;
}

.Bottomlinks-logo-I {
    width: 5.3px;
    height: 20px;
}

.Bottomlinks-logo-N-container {
    width: 18.65px;
    height: 20px;
    position: relative;
    background-color: antiquewhite;
    display: flex;
    flex-direction: row-reverse;
}

.Bottomlinks-logo-N {
    width: 18.65px;
    height: 20px;
    position: absolute;
}

.Bottomlinks-logo-dot {
    width: 5.27px;
    height: 5.28px;
}

.Bottomlinks-logo-O {
    width: 19.89px;
    height: 20px;
}

.Bottomlinks-menu {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    padding: 0px;
    gap: 30px;

    width: 540px;
    height: 18px;
}

.Bottomlinks-menu > div {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 5px;
    width: auto;
    height: 18px;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.Large-text-style { 
    font-family: 'General Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 18px;
    text-transform: uppercase;
    color: var(--small-text-color-1);
    cursor: pointer;
}

.Large-text-style > div {
    position: relative;
}

.Large-text-style:hover {
    .underline {
        background-color: blue;
        width: 100%;
        height: 2px;
        position: absolute;
        bottom: 0;
        margin-bottom: 4px;
    }
}

.icon-large {
    width: 14px;
    height: 14px;

    font-family: 'blueskytechco';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    text-transform: uppercase;
    color: var(--small-text-color-5);
    /* flex: none;
    order: 1;
    flex-grow: 0; */
    cursor: pointer;
}

.icon-large-container {
    position: relative;
    width: 14px;
    height: 18px;    
  
    font-family: 'icon-dukamarket';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 12px;
    color: var(--small-text-color-5);

    /* background-color: red; */
}

.icon-large-container:hover {
    .underline {
        background-color: blue;
        width: 100%;
        height: 2px;
        position: absolute;
        bottom: 0;
        margin-bottom: 4px;
    }
}

.Bottomlinks-icons {
    margin-right: 30px;
    display: flex;
    align-items: center;
    gap: 20px;
}

.Bottomlinks-icon {
    color: var(--small-text-color-1);
}

.Bottomlinks-icon-search {
    width: 17px;
    height: 17px;
}

.Bottomlinks-icon-loginContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Bottomlinks-icon-loginTop {
    width: 10px;
    height: 10px;
}

.Bottomlinks-icon-loginBottom {
    width: 17px;
    height: 6px;
}

.Bottomlinks-icon-recentlyViewed {
    width: 17px;
    height: 17px;
}

.Bottomlinks-icon-wishlist {
    width: 20px;
    height: 17px;
}

.Bottomlinks-icon-wishlistContainer > div {
    width: 18px;
    height: 18px;
    background-color: #9C6D3A;
    border-radius: 9px;
    position: absolute;
    margin-left: 13px;
    margin-top: -5px;
    text-align: center;
    color: white;
}

.Bottomlinks-icon-wishlistContainer > div > div {
    margin-top: -3px;
}

.Bottomlinks-icon-cart {
    width: 20px;
    height: 13px;
}

@media screen and (max-width: 400px) {
    .icon-large-container {
        display: none;
    }
    
    .Bottomlinks-logos {
        width: 45px;
        height: 10px;
        margin-left: 15px;
    }

    .Bottomlinks-menu {
        background-color: black;
        gap: 12px;

        position: fixed;
        width: 100vw;
        height: auto;
        bottom: 0;
        left: 0;
        z-index: 10;
    }

    .Large-text-style > div {
        color: white;
        font-size: 24;
    }
}